body{
    margin: 0%;
}
.container{
    
}
.text{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
}
.menu{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-bottom: 5em;
    padding: 0 24em;
    box-shadow: 0px 5px 15px -15px #111; 
    flex-wrap: wrap;
}
.mainCont{
    margin: 0 20%;
    padding: 5%;
    box-shadow: 0 0 10px rgb(200, 200, 200);
    border-radius: 30px;
    
    margin-bottom: 10%;
    list-style: none;
    flex-wrap: nowrap;
}
.headers{
    font-size: 18px;
    line-height: 21px;
    color: #0D1C41;
    align-items: flex-end;
    margin-right: 1%;
}
.telNumber{
    
}
.profile{
    display: flex;
    justify-content: space-between;
}
.bigImage{
    width: 30em;
}
.h1{
    font-size: 36px;
    line-height: 43px;
    max-width: 485px;
    color: #0D1C41;
}
.contP{
    font-size: 14px;
    line-height: 17px;
    max-width: 365px;
    color: #939CA6;
}
.button{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 75px;
    gap: 27px; 

    border: 1px solid #4A607A;

    box-shadow: 0px 2px 18px rgba(41, 41, 41, 0.1);
    border-radius: 6px;

    max-width: 265px;
    background-color: white;
}
.buttonTXT{
    font-size: 16px;
    line-height: 19px;
}
.center{
    text-align: center;
    margin: auto;
    width: 50%;
    margin-bottom: 110px;
    display: flex;
        flex-direction: column;
        align-items: center;
}
h2{
    font-size: 48px;
    line-height: 57px;
}
.advantages{
    box-shadow: 0px 2px 18px rgba(41, 41, 41, 0.1);
    border-radius: 20px;
    padding: 0px 16px;
    padding-top: 32px;
}
.icons{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0%;
}
.object{
    margin: 5px 1em;
}
.item{
    
}
.bigIcon{
    max-width: 70px;
    max-height: 70px;
}
.objP{
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #0D1C41;
}
.bigTxt{
    font-size: 64px;
    line-height: 76px;
    text-align: left;
    margin-bottom: 0px;
}
.bigDiscr{
    font-size: 24px;
    line-height: 29px;
    color: #0D1C41;
    max-width: 345px;
    text-align: left;
}
h3{
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 600;
    font-size: 29.66px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.28px;
}
.border{
    border-style: solid;
    border-width: 2px;
    width: 160px;
}
.image{
    margin: 0px 30%;
    width: 865px;
    height: 350px;
    margin-bottom: 110px;
    margin-top: -50px;
}
.LK{
    text-decoration: underline;
    color: rgb(148, 148, 0);
}
footer{
    background-color: #4A607A;
    padding: 2.5%;
}
.categories{
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footerCat{
    min-width: 190px;
    color: #FFFFFF;
    line-height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items:flex-start
}
.footItem{
    text-align: left;
}
.footItem:hover{
    color: #DDD0A4;
    border-bottom: solid;
    border-color: #DDD0A4;
}
.footerElem{
    margin-right: 115px;
}
.footerAdress{
    max-width: 250px;
    color: #9C9C9C;
    margin-bottom: 35px;
    font-size: 18px;
    line-height: 125%;
}
.telText{
    font-size: 24px;
    line-height: 29px;
}
.mailText{
    font-size: 18px;
    line-height: 26px;
    max-width: 185px;
    color: #FFFFFF;
    
}
.footerIcons{
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: left;
    padding: 0%;
    margin-top: 55px;
}

.imageCont{
    display: none;
    background: url('imgs/a.svg') top no-repeat;
    width: 800px;
    height: 250px;
    background-position: 50% 50%;
}
.markedIcn{
    border: 1.5px solid #EBEBEB;
    border-radius: 16px;
    padding: 13px;
    float: left;
    margin-right: 27px;
}
.iconsVis{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 0%;
    max-width: 765px;
    padding-top: 60px;
            }
            .imCont{
    margin-bottom: 250px;
}
.objPItem{
    margin-bottom: 10px;
    margin-top: 5px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}
.hoverIcn{
    border-style: solid;
    border-width: 2px;
}
.hoverIcn:hover{
    border-style: none;
    box-shadow: 0px 2px 18px rgba(41, 41, 41, 0.1);
    border-radius: 20px; 
}

.someText{
    max-width: 320px; 
    max-height: 153px; 
    text-align: left; 
}
@media (min-width: 2100px){
    .bigImage{
        width: 50em;
    }
    .mainCont{
        flex-wrap: nowrap;
        padding: 5%;
    }
    img{
        margin: 0%;
    }
}
@media (max-width: 1210px){
    .hoverIcn:hover{
        border-style: solid;
        border-width: 2px;
    }
    .menu{
        padding: 0 0;
    }
    .bigImage{
        width: 20em;
        margin: 0 6em;
    }
    .mainCont{
        flex-wrap: wrap;
        padding: 0 3%;
    }
    .h1{
        text-align: center;
        padding: 0% 2.5em;
    }
    .contP{
        text-align: center;
        padding: 0% 5em 0% 6em;
    }
    .button{
        margin: 0 9em;
    }
    .specButton{
        
        float: left;
    }
    .icons{
        flex-wrap: wrap;
        padding: 0%;
        justify-content: space-around;
    }
    .categories{
        flex-wrap: wrap;
    }
    .bigTxt{
        text-align: center;
        margin: 0% 1em;
    }
    .bigDiscr{
        text-align: center;
        margin: 0% 1em;
    }
    .footerBtn{
        margin-left: 0;
    }
    .footerAdress{
        margin-right: 0%;
    }
    .headers{
        margin: 2%;
    }
    .telNumber{
        margin: 2%;
    }
    .imageCont{
        display: block;
        background-image: none;
        width: auto;
        height: auto;
    }
    .iconsVis{
        padding: 0;
        display: none;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .someText{
        margin-bottom: 50px;
    }
    .specText{
        display: flex; 
        flex-wrap: wrap
    }
    .specIcn{
        width: 40%;
    }
}

@media (max-width: 950px){
    .bigImage{
        width: 10em;
        margin: 0 10em;
        display: none;
    }
    img{
        display: none;
    }
    .bigIcon{
        display: inline;
    }
    .icon{
        display: inline;
    }
    h3{
        margin-left: 25%;  
    }
    h1{
        margin: 0 5%;
    }
    .button{
        margin: 0 30%;
    }
    .contP{
        margin: 0 5%;
    }
    .footerBtn{
        margin-left: 0;
    }
    
}

@media (max-width: 670px){

    .h1{
        padding: 0;
    }
    .contP{
        padding: 0%;
    }
    .button{
        margin: 0 10%;
    }
    .imCont{
        margin: 0%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .footerBtn{
        margin: 0%;
    }
}

@media (max-width: 420px)
{
    .h1{
        font-size: 24px;
        margin: 0%;
    }
    .contP{
        font-size: 12px;
        
        max-width: 50%
        
    }
    .button{
        margin: 0% 20%;
    }
    .menu{
        padding: 0%;
    }
    .footerBtn{
        margin: 0;
    }
    .footerElem{
        margin: 0%;
    }
}
